# Xcode
##
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode
##
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcworkspace
!default.xcworkspace
*.playground
!default.playground
*.playground/doc
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
##
Pods/
Podfile.lock
Podfile
Pods-manifest.lock

# Carthage
##
Carthage/
Cartfile
Cartfile.resolved

# Fastlane
##
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
##
injectionforxcode/
